@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bebas+Neue&family=Manrope:wght@400;800&family=Montserrat:wght@700&family=Noto+Sans:wght@800&family=Roboto:wght@100;900&family=Tiro+Tamil&display=swap');
body{
    font-family: 'Tiro Tamil', serif;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 20px;
}